<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;平台介绍</h3>
        <ul>
            <li>针对于江苏省的高考志愿填报分析系统</li>
            <li>在这里，你可以查询到院校基本信息、专业基本信息等内容</li>
            <li>提供针对考生的成绩，历年分数转换参考、位次估计等功能</li>
            <li>提供简要大学数据可视化历年分数排布，直观清晰，一点就通</li>
        </ul>



        <h3>&nbsp;&nbsp;&nbsp;沟通QQ群：分布式与云计算</h3>
        <ul>
            <li>交流群：632010911</li>
        </ul>
    </div>
</div>
</body>
</html>