<!DOCTYPE html>
<html>
<head>
    <title>投档线管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../plugins/laydate/laydate.js"></script>
    <script src="../../libs/jquery/jquery.PrintArea.min.js"></script>
</head>


<!--startprint-->
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.tdxName" @keyup.enter="query" placeholder="请输入年份">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.zyName" @keyup.enter="query" placeholder="请输入科类">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.xuexiaoName" @keyup.enter="query" placeholder="请输入学校">
            </div>
            <a class="btn btn-default" @click="query">查询</a>

<!--            <a v-if="hasPermission('sys:tdx:save')" class="btn btn-primary btn-sm" @click="add"><i-->
<!--                    class="fa fa-plus"></i>&nbsp;添加</a>-->
<!--            <a v-if="hasPermission('sys:tdx:update')" class="btn btn-primary btn-sm" @click="update"><i-->
<!--                    class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
<!--            <a v-if="hasPermission('sys:tdx:delete')" class="btn btn-primary btn-sm" @click="del"><i-->
<!--                    class="fa fa-trash-o"></i>&nbsp;删除</a>-->
<!--            <a v-if="hasPermission('sys:tdx:dr')" class="btn btn-primary btn-sm" @click="dr"><i class="fa fa-plus"></i>&nbsp;导入</a>-->
<!--            <a v-if="hasPermission('sys:tdx:otherWorkToExcel')" class="btn btn-primary btn-sm" @click="otherWorkToExcel"><i class="fa fa-plus"></i>&nbsp;导出</a>-->


        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label">年份</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="tdx.nf" placeholder="年份"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">学校</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tdx.xuexiao" placeholder="学校"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">省份</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.shengfen" @change="setcss" >
                        <option v-for="sf in sfs" :value="sf.name">{{sf.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.shengfen" placeholder="省份"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">城市</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.chengshi" >
                        <option v-for="chengshi in chengshis" :value="chengshi.name">{{chengshi.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.chengshi" placeholder="城市"/>-->
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">软科排名</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="tdx.rkpm" placeholder="软科排名"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">是否985</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.isjbw"  >
                        <option v-for="issf in issfs" :value="issf.name">{{issf.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.isjbw" placeholder="是否985"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">是否211</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.iseyy"  >
                        <option v-for="issf in issfs" :value="issf.name">{{issf.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.iseyy" placeholder="是否211"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">是否双一流</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.sfsyl"  >
                        <option v-for="issf in issfs" :value="issf.name">{{issf.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.sfsyl" placeholder="是否双一流"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">科类</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.kl"  >
                        <option v-for="kl in kls" :value="kl.name">{{kl.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.kl" placeholder="科类"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">批次</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.pc"  >
                        <option v-for="pc in pcs" :value="pc.name">{{pc.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.pc" placeholder="批次"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">专业组</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.zyz"  >
                        <option v-for="zyz in zyzs" :value="zyz.name">{{zyz.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.zyz" placeholder="专业组"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">选科要求</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.xkyq"  >
                        <option v-for="xkyq in xkyqs" :value="xkyq.name">{{xkyq.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.xkyq" placeholder="选科要求"/>-->
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">最低分</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="tdx.zdf" placeholder="最低分"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">最低分排名</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="tdx.zdfpm" placeholder="最低分排名"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">省控线</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="tdx.skx" placeholder="省控线"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">办学性质</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.bxxz"  >
                        <option v-for="bxxz in bxxzs" :value="bxxz.name">{{bxxz.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.bxxz" placeholder="办学性质"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">学校归属</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tdx.xxgs" placeholder="学校归属"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">全国统一招生代码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tdx.qgtyzsdm" placeholder="全国统一招生代码"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">招生类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tdx.zslx" placeholder="招生类型"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">学校类别</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.xxlb"  >
                        <option v-for="xxlb in xxlbs" :value="xxlb.name">{{xxlb.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.xxlb" placeholder="学校类别"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">学历类别</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tdx.xllb"  >
                        <option v-for="xllb in xllbs" :value="xllb.name">{{xllb.name}}</option>
                    </select>
<!--                    <input type="text" class="form-control" v-model="tdx.xllb" placeholder="学历类别"/>-->
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">学校曾用名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tdx.xxcym" placeholder="学校曾用名"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">生源地</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="tdx.syd" placeholder="生源地"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <div class="modal fade" id="drData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        导入信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="dr" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group" v-show="importModle">

                            <div class="col-sm-2 control-label">相关附件</div>
                            <div class="col-md-7" v-show="importModle">
                                <input type="file" id="drfj" multiple="multiple" name="fileList">
                            </div>

                            <div class="col-sm-1">
                                <button type="button" id="zxdrfj" class="btn btn-primary" @click="readExcel">确定导入
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 上传附件 模态框-->
    <div class="modal fade" id="myModalPreachData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        上传tdx文件
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="upload" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group" v-show="importModle">
                            <div class="col-sm-2 control-label">相关附件</div>
                            <div class="col-md-7" v-show="importModle">
                                <input type="file" id="fileList" multiple="multiple" name="fileList">
                            </div>
                            <div class="col-sm-1">
                                <button type="button" id="imports" class="btn btn-primary" @click="importFile">上传
                                </button>
                            </div>
                        </div>

                        <table class="col-md-12">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>附件名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="allFiles.length>0" v-for="(item, index) in allFiles">
                                <td>{{index+1}}</td>
                                <td>{{item.fileName}}</td>
                                <td><a href="javascript:void(0);" @click="download(item.id)">下载</a>
                                    <a href="javascript:void(0);" v-show="showDelect" v-show="showListuploaddelete"
                                       @click="deleteFile(item.id,index)">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="saveFile">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
    <ul id="deptTree" class="ztree"></ul>
</div>
<script src="../../js/modules/sys/gxzslqfsywcgl.js"></script>

</body>
<!--endprint-->
</html>