<!DOCTYPE html>
<html>
<head>
<title>图表管理</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
	<script src="../../plugins/laydate/laydate.js"></script>
	<script src="../../libs/jquery/jquery.PrintArea.min.js"></script>

	<script src="../../js/echarts.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
</head>
<!--startprint-->
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">



		<div class="grid-btn" style="">


		</div>
		<table>
			<tr>
				<td>
					<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
					<div id="main" style="width: 1500px;height:400px;"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="zxt" style="width: 1500px;height:400px;"></div>
				</td>

			</tr>

		</table>
    </div>


    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">


			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>

	<!-- 上传附件 模态框-->
	<div class="modal fade" id="myModalPreachData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">
						上传
					</h4>
				</div>
				<div class="modal-body">
					<form id="upload" method="post" class="form-horizontal" enctype="multipart/form-data">
						<div class="form-group" v-show="importModle">
							<div class="col-sm-2 control-label">相关附件</div>
							<div class="col-md-7" v-show="importModle">
								<input type="file" id="fileList" multiple="multiple" name="fileList">
							</div>
							<div class="col-sm-1">
								<button type="button" id="imports" class="btn btn-primary" @click="importFile">上传
								</button>
							</div>
						</div>

						<table class="col-md-12">
							<thead>
							<tr>
								<th>序号</th>
								<th>附件名称</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<tr v-if="allFiles.length>0" v-for="(item, index) in allFiles">
								<td>{{index+1}}</td>
								<td>{{item.fileName}}</td>
								<td><a href="javascript:void(0);" @click="download(item.id)">下载</a>
									<a href="javascript:void(0);" v-show="showDelect" v-show="showListuploaddelete"
									   @click="deleteFile(item.id,index)">删除</a>
								</td>
							</tr>
							</tbody>
						</table>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" @click="saveFile">
						确定
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>
<script src="../../js/modules/sys/yqksh.js"></script>

</body>
<!--endprint-->
</html>